body {
  font-family: '微软雅黑' !important;
  color: #8d8d8d;
}
html,
body,
.scroll {
  height: 100%;
}
.part_one,
.part_two,
.part_three,
.part_four,
.part_five,
.part_six,
.part_seven {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.part_one .bottomWitheBar {
  position: absolute;
  z-index: 4;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 40px;
}
header.loginBar {
  height: 30px;
  line-height: 30px;
  background-color: #1E1C29;
  font-size: 12px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
header.loginBar > div.oh {
  max-width: 1400px;
  min-width: 800px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
.main_tabs {
  position: fixed;
  width: 100%;
  top: 30px;
  left: 0;
  height: 80px;
  line-height: 80px;
  z-index: 10;
  background-color: rgba(204, 202, 202, 0.3);
}
.main_tabs > div.oh {
  max-width: 1450px;
  min-width: 850px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}
.main_tabs > div.oh img.fl {
  display: inline-block;
  margin-top: 40px;
  transform: translateY(-50%);
  margin-left: 25px;
}
.main_tabs > div.oh .ulInline {
  height: 80px;
}
.main_tabs > div.oh .ulInline li {
  cursor: pointer;
  width: 100px;
  height: 80px;
  position: relative;
  text-align: center;
}
.main_tabs > div.oh .ulInline li span {
  font-size: 18px;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 80px;
  line-height: 80px;
}
.main_tabs > div.oh .ulInline li span.face {
  z-index: 2;
  overflow: hidden;
  height: 50px;
  transition: all 1s;
}
.main_tabs > div.oh .ulInline li span.face > span {
  position: absolute;
  width: 100px;
  text-align: center;
  top: 50px;
  transform: translateY(-61%);
}
.main_tabs > div.oh .ulInline li span.text_mask {
  z-index: 1;
  color: #fff;
  transition: color 1s;
}
.main_tabs > div.oh .ulInline li div.bottom_ine {
  position: absolute;
  bottom: 16px;
  width: 100%;
  height: 2px;
}
.main_tabs > div.oh .ulInline li div.bottom_ine > div {
  width: 0;
  height: 2px;
  background-color: #00AAEE;
  border-radius: 1px;
  margin: 0 auto;
  transition: all 1s;
}
.main_tabs > div.oh .ulInline li.active span.face {
  height: 0;
}
.main_tabs > div.oh .ulInline li.active span.text_mask {
  color: #00aaee;
}
.main_tabs > div.oh .ulInline li.active div.bottom_ine > div {
  width: 100px;
}
.main_tabs > div.oh .ulInline li:hover span.face {
  height: 0;
}
.main_tabs > div.oh .ulInline li:hover span.text_mask {
  color: #00aaee;
}
.main_tabs > div.oh .ulInline li:hover div.bottom_ine > div {
  width: 100px;
}
.videoPart video {
  width: 100%;
  height: calc(100% - 150px );
}
.videoPart .video_mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 120vh;
  top: 0;
  z-index: 3;
}
.videoPart .video_mask img:first-child {
  margin-top: 20vh;
  max-width: 50%;
}
.videoPart .video_mask #playBtn {
  display: inline;
  position: relative;
  top: -16vh;
  left: -21px;
}
.videoPart .video_poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 2;
}
.videoPart .video_poster img {
  max-height: 100%;
}
#mouseTip {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 60px;
  z-index: 3;
  max-width: 30px;
}
.navList {
  position: fixed;
  margin-left: 50%;
  bottom: 42px;
  z-index: 6;
  width: 500px;
  height: 42px;
  cursor: pointer;
  right: 10px;
}
.navList li {
  float: left;
  border: 1px solid #c7c7c6;
  margin-left: 50px;
  transform: rotateZ(45deg);
  position: relative;
}
.navList li span {
  position: absolute;
  top: -30px;
  background-color: #e4e5e7;
  transform: rotateZ(-45deg);
  width: 75px;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
  left: -52px;
}
.navList li.active {
  background-color: #00AAEE;
  border: 1px solid #00AAEE;
}
.navList li:hover {
  border: 1px solid #00AAEE;
}
.navList li:hover span {
  opacity: 1;
}
.navList li:nth-child(even) {
  width: 12px;
  height: 12px;
  margin-top: 15px;
}
.navList li:nth-child(odd) {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.part_two {
  position: relative;
}
.part_two .container {
  width: 1450px;
  height: 660px;
  margin: 20vh auto 0 auto;
}
.part_two .container > div:first-child.fontBlue {
  font-size: 36px;
  height: 80px;
  font-weight: 600;
}
.part_two .container > div:nth-child(2) {
  text-align: center;
  height: 90px;
  font-size: 23px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #8d8d8d;
}
.part_two .container table {
  text-align: center;
  margin-top: 90px;
  width: 100%;
  table-layout: fixed;
}
.part_two .container table tr td div.title {
  height: 70px;
  line-height: 70px;
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 600;
}
.part_two .container table tr td div.txt {
  width: 270px;
  color: #8d8d8d;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
}
.part_three {
  position: relative;
  min-height: 800px;
  background-color: #F6F8FD;
}
.part_three .juchi {
  position: absolute;
  bottom: -8px;
}
.part_three .container {
  height: 650px;
  width: 1670px;
  float: right;
  margin-top: 14vh;
}
.part_three .container header.fontBlue {
  font-size: 38px;
  margin-top: 10vh;
  margin-bottom: 35px;
}
.part_three .container .txtOne {
  color: #808080;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
}
.part_three .container .txtTwo {
  color: #808080;
  margin: 20px 0;
  font-size: 16px;
}
.scrollbox {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 87px;
}
.scrollbox li {
  width: 210px;
  height: 210px;
  transform: rotateZ(45deg);
  position: absolute;
}
.scrollbox li .p1 {
  transform: rotateZ(-45deg);
  text-align: center;
  position: absolute;
  width: 210px;
  height: 210px;
  padding-top: 27px;
  z-index: 4;
}
.scrollbox li .textCenter {
  color: #8d8d8d;
  line-height: 22px;
  transition: all 0.5s;
}
.scrollbox li .sl,
.scrollbox li .sr,
.scrollbox li .p2 {
  width: 210px;
  height: 210px;
  position: absolute;
  background-color: #8FD8F6;
  z-index: 2;
  transition: all 0.5s;
}
.scrollbox li .p2 {
  z-index: 3 !important;
  background-color: #fff;
}
.scrollbox li.active {
  background-color: #00AAEE;
}
.scrollbox li.active .textCenter {
  color: #ffffff;
}
.scrollbox li.active .p2 {
  background-color: #00AAEE;
}
.scrollbox li.active .sl {
  transform: rotateZ(-15deg);
}
.scrollbox li.active .sr {
  transform: rotateZ(15deg);
}
.baseBtn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #00AAEE;
  border-radius: 2px 2px 0 0;
  border-bottom-width: 3px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  overflow: hidden;
}
.baseBtn > div:first-child {
  z-index: 2;
  width: 180px;
  height: 60px;
  color: #66C7F3;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.5s;
}
.baseBtn > div:last-child {
  z-index: 1;
  width: 180px;
  color: #fff;
  background-color: #00AAEE;
}
.baseBtn:hover > div:first-child {
  height: 0;
}
.part_four {
  position: relative;
}
.part_four .san {
  position: absolute;
  transition: all 0.5s;
}
.part_four .san_r-d,
.part_four .san_l-d {
  top: 50%;
  transform: translateY(-50%);
}
.part_four .san_l:hover {
  margin-left: -30px;
}
.part_four .san_r:hover {
  margin-right: -30px;
}
.simgContainer {
  width: calc(100% - 660px);
  height: 70%;
  position: absolute;
  top: 20vh;
  left: 330px;
}
.simgContainer img {
  position: absolute;
  transition: all 1s;
  box-shadow: 0 0 30px #606069;
  cursor: pointer;
}
.simgContainer img:hover {
  box-shadow: 0 0 50px #4c4c55;
}
.simgContainer .simg1 {
  max-width: 45%;
  z-index: 3;
  left: 27.5%;
  top: 19%;
  transform: scale(1.5);
}
.simgContainer .simg2,
.simgContainer .simg3 {
  max-width: 45%;
  top: 50%;
  transform: translateY(-50%);
}
.simgContainer .simg2 {
  left: 0;
}
.simgContainer .simg3 {
  left: 55%;
}
.part_five {
  background-color: #F6F8FD;
}
.part_five > div.fr {
  width: 40%;
}
.part_five > div.fr > div:first-child {
  margin-top: 30vh;
  color: #00AAEE;
  font-size: 50px;
}
.part_five > div.fr > div:nth-child(2) {
  color: #808080;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  margin-top: 35px;
}
.part_five > div.fr > div:nth-child(3) {
  color: #808080;
  margin: 20px 0 50px 0;
  font-size: 16px;
}
.tralslateYContainer {
  float: left;
  width: 40%;
  height: 80vh;
  margin-top: 12.5vh;
  margin-left: 10%;
  perspective: 1000px;
}
.tralslateYContainer #imgBody,
.tralslateYContainer .layer_1,
.tralslateYContainer .layer_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: bottom;
  background-size: contain;
  transform: rotateX(30deg);
  box-shadow: 0 0 50px #4c4c55;
  transition: all 1.5s;
}
.tralslateYContainer #imgBody {
  background: url('../img/translate.png');
  bottom: 0;
  z-index: 3;
}
.tralslateYContainer .layer_1,
.tralslateYContainer .layer_2 {
  height: 80%;
  background-color: #FBFEFE;
}
.tralslateYContainer .layer_1 {
  left: -115px;
  bottom: -30px;
  z-index: 2;
}
.tralslateYContainer .layer_2 {
  right: -115px;
  bottom: -60px;
  z-index: 1;
}
.tralslateYContainer:hover #imgBody,
.tralslateYContainer:hover .layer_1,
.tralslateYContainer:hover .layer_2 {
  transform: rotateX(0deg);
  box-shadow: 0 0 20px #6f6f7a;
}
.tralslateYContainer:hover .layer_1,
.tralslateYContainer:hover .layer_2 {
  height: 100%;
}
.tralslateYContainer:hover .layer_1 {
  left: 0;
  bottom: 0;
}
.tralslateYContainer:hover .layer_2 {
  right: 0;
  bottom: 0;
}
.part_six > div:first-child {
  height: 200px;
  line-height: 286px;
}
.part_six .panter {
  width: 80%;
  margin: 0 auto;
  table-layout: fixed;
}
.part_six .panter tbody tr td {
  position: relative;
  cursor: pointer;
  padding: 10px;
}
.part_six .panter tbody tr td .imgBody {
  width: 100%;
  height: 20vh;
  background-size: cover !important;
}
.part_six .panter tbody tr td .L,
.part_six .panter tbody tr td .T,
.part_six .panter tbody tr td .R,
.part_six .panter tbody tr td .B {
  background-color: #00AAEE;
  position: absolute;
  width: 0;
  height: 0;
}
.part_six .panter tbody tr td .L {
  left: 10px;
  bottom: 10px;
  transition: height 0.15s linear 0s;
}
.part_six .panter tbody tr td .T {
  left: 10px;
  top: 10px;
  transition: width 0.15s linear 0.15s;
}
.part_six .panter tbody tr td .R {
  right: 10px;
  top: 10px;
  transition: height 0.15s linear 0.3s;
}
.part_six .panter tbody tr td .B {
  right: 10px;
  bottom: 10px;
  transition: width 0.15s linear 0.45s;
}
.part_six .panter tbody tr td:hover .L,
.part_six .panter tbody tr td:hover .R {
  height: calc(100% - 20px);
  width: 2px;
}
.part_six .panter tbody tr td:hover .T,
.part_six .panter tbody tr td:hover .B {
  width: calc(100% - 20px);
  height: 2px;
}
.part_seven {
  background-color: #1A1A1A;
}
.part_seven .jionus {
  position: relative;
}
.part_seven .jionus img {
  max-width: 100%;
}
.part_seven .jionus h1 {
  text-align: center;
  position: absolute;
  top: 10vh;
  width: 100%;
  font-weight: 600;
  font-size: 60px;
}
.part_seven .jionus .jionBtn {
  background-color: #E03A39;
  color: #fff;
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 21px;
  position: absolute;
  top: 30vh;
  margin-left: -90px;
  left: 50%;
}
.part_seven > table {
  color: #fff;
  margin: 5vh 0 0 18vw;
}
.part_seven > table tbody tr td:first-child {
  width: 150px;
}
.part_seven > table tbody tr td {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.part_seven footer {
  color: #717171;
  position: absolute;
  bottom: 0;
  height: 80px;
  border-top: 1px solid #404040;
  width: 100%;
  padding-top: 10px;
}
.part_seven footer div {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: 1px;
}
.scroll-content {
  transition: all 0.5s;
}
